/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  /* ### Primary */
  --light-red: hsl(0, 100%, 67%);
  --light-red-bg: hsla(0, 100%, 67%, 0.1);
  --orangey-yellow: hsl(39, 100%, 56%);
  --orangey-yellow-bg: hsla(39, 100%, 56%, 0.1);
  --green-teal: hsl(166, 100%, 37%);
  --green-teal-bg: hsla(166, 100%, 37%, 0.1);
  --cobalt-blue: hsl(234, 85%, 45%);
  --cobalt-blue-bg: hsla(234, 85%, 45%, 0.1);

  /* ## Gradients */

  --light-slate-blue: hsl(252, 100%, 67%); /* background */
  --light-royal-blue: hsl(241, 81%, 54%); /* background */

  --violet-blue: hsla(256, 72%, 46%, 1); /* circle */
  --persian-blue: hsla(241, 72%, 46%, 0); /* circle */

  /* ### Neutral */

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --text-color-numbers: hsl(267, 5%, 60%);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Mobile First */

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

.card-1 {
  background-color: var(--light-royal-blue);
  margin: 0;
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  border-radius: 0 0 2rem 2rem;
  width: 100%;
  padding-top: 1rem;
}

.card-1 p {
  color: var(--light-lavender);
  text-align: center;
  margin: 0 2rem 2.5rem 2rem;
}

h1 {
  color: var(--light-lavender);
  font-size: 1rem;
  margin: 0 1.2rem 2rem 1.2rem;
}

h2 {
  color: var(--white);
  margin: 1rem auto 0.5rem auto;
}

.circle {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-text p:nth-child(1) {
  color: var(--white);
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

.circle-text p:nth-child(2) {
  color: var(--light-lavender);
  font-weight: 500;
  margin: 0;
}

.card-2 {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
}

h3 {
  text-align: left;
  margin-left: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0.5rem 2rem;
  border-radius: 8px;
}

.n-1,
.n-2,
.n-3,
.n-4 {
  padding: 0 1rem;
}

.n-1 {
  color: var(--light-red);
  background-color: var(--light-red-bg);
}

.n-2 {
  color: var(--orangey-yellow);
  background-color: var(--orangey-yellow-bg);
}

.n-3 {
  color: var(--green-teal);
  background-color: var(--green-teal-bg);
}

.n-4 {
  color: var(--cobalt-blue);
  background-color: var(--cobalt-blue-bg);
}

.push-left {
  margin-right: auto;
  padding-left: 1rem;
  font-weight: 700;
}

.row p:nth-child(3) {
  color: var(--text-color-numbers);
  font-weight: 700;
}

span {
  color: black;
}

.boton {
  width: 100%;
  padding: 1rem;
  border-style: none;
  border-radius: 2rem;
  background-color: var(--dark-gray-blue);
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

/* Desktop */
@media (min-width: 600px) {
  body {
    height: 100dvh;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0px 10px 22px 4px rgba(0,0,0,0.1);
  }

  .card-1,
  .card-2 {
    height: 100%;
  }

  .card-1 {
    border-radius: 2rem;
  }

  .card-1 p {
    margin: 1rem 2rem;
  }

  h1 {
    margin: 0.5rem auto 0.5rem auto;
    font-size: 1rem;
  }

  .circle {
    margin: 1.5rem auto;
    width: 200px;
    height: 200px;
  }

  h2 {
    margin: 2rem auto 0.5rem auto;
  }

  .boton {
    padding: 1rem;
    margin: 1.5rem auto;
    font-size: 0.8rem;
    font-weight: 700;
  }
}